[submodule "tapioca-sdk"]
	path = gitsub_tapioca-sdk
	url = https://github.com/Tapioca-DAO/tapioca-sdk.git
[submodule "gitsub_tapioca-sdk"]
	path = gitsub_tapioca-sdk
	url = https://github.com/Tapioca-DAO/tapioca-sdk.git
