[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "gitmodule/Tapioca-bar"]
	path = gitmodule/Tapioca-bar
	url = https://github.com/Tapioca-DAO/Tapioca-bar
[submodule "gitmodule/tap-yieldbox"]
	path = gitmodule/tap-yieldbox
	url = https://github.com/Tapioca-DAO/tap-yieldbox
[submodule "gitmodule/tapioca-sdk"]
	path = gitmodule/tapioca-sdk
	url = https://github.com/Tapioca-DAO/tapioca-sdk
