[profile.default]
src = 'contracts'
out = 'gen/out'
libs = ['node_modules', 'lib']
cache_path  = 'gen/cache_forge'
broadcast = 'gen/broadcast'

auto_detect_solc=true
evm_version='paris'
optimizer = true
optimizer_runs = 100
ignored_error_codes = ["shadowing"] # For LBP

remappings = [
	"tap-utils/=gitmodule/tap-utils/contracts/",
    "tapioca-periph/=contracts/",
	"solidity-bytes-utils/=node_modules/@layerzerolabs/solidity-bytes-utils/",
	"tapioca-sdk/=gitmodule/tapioca-sdk/src/",
	"tapioca-bar/=gitmodule/Tapioca-bar/contracts/",
	"tapiocaz/=gitmodule/tapiocaz/contracts/",
	"tapioca-mocks/=gitmodule/tapioca-mocks/contracts/",
	"yieldbox/=gitmodule/tap-yieldbox/contracts/",
	"tapioca-lbp/=gitmodule/tapioca-lbp/contracts/",
	"permitc/=gitmodule/permitc/src/",
]


# forge-dpeloy
fs_permissions = [
	{ access = "read-write", path = "./deployments"},
	{ access = "read", path = "./out"}
]

[etherscan]
arbitrum-sepolia = { key = "${ARBITRUM_SEPOLIA_API_KEY}", url = "https://api-sepolia.arbiscan.io/api"}

# Use source .env/${NETWORK}.env to set the following variables
[rpc_endpoints]
mainnet = "${RPC_URL}"
arbitrum = "${RPC_URL_ARBITRUM}"